<div class="row about">

  <div class="title">关于集钱网</div>
  <hr/>

  <p>
    你知道吗, 钱是可以生钱的! <br/>
    没有钱就赚小钱, 有小钱就集大钱.
  </p>

  <p>
    <strong>集钱网</strong>, 投资融资导航第一站. <br/>
    <strong>集钱网</strong>, 钱的集散地.
  </p>

  <p>
    想投资, 想理财, 找集钱网.
    想融资, 想借钱, 还找集钱网. 
    从<strong>集钱网</strong>开始你的财富之旅吧!
  </p>
</div>
